<h1>Fighters</h1>

<ul>
  <% @fighters.each do |fighter| %>
    <li><%= fighter.name %></li>
    <li><%= fighter.side %></li>
    <%= link_to "Show this fighter", fighter %>
  <% end %>
</ul>

<%= link_to "Create new fighter", new_fighter_path, {class: "btn btn-primary"} %>

<div style="display:flex">
 <%= render "shared/all_fighters" %>
</div>
