<!DOCTYPE html>
<html>
  <head>
    <title>RECAPExercise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>

      <% if current_page?(root_path)%>
      <%= render "shared/banner"%>
      <% end %>
    <%# <h2>Hi <%= current_user.email %> </h2>

    <div class="container">
      <div class="bg">
        <div class="content">
          <h2>New Home for</h2> <br>
          <h2>DragonBall Lovers</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sapiente fugit ad laudantium temporibus, architecto deserunt
          optio minus totam praesentium! Ratione neque cumque explicabo aliquam ipsum. Ea quis sit dolores.</p> <br>
          <a href="#">Join Now</a>
        </div>
        <img src="https://photos.tf1.fr/780/780/perso-showpage-dragon-ball-z-v3-aab796-42e2b9-0@1x.png" alt="">
      </div>
    </div>
    <div class="container">
      <div class="bg">
        <img src="https://e7.pngegg.com/pngimages/3/107/png-clipart-vegeta-frieza-goku-whis-super-dragon-ball-z-goku-vegeta-frieza.png" alt="" width= 300px ><div class="content">
          <h2>New Home for</h2> <br>
          <h2>DragonBall Lovers</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sapiente fugit ad laudantium temporibus, architecto deserunt
          optio minus totam praesentium! Ratione neque cumque explicabo aliquam ipsum. Ea quis sit dolores.</p> <br>
          <a href="#">Join Now</a>
        </div>
      </div>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>
